<mat-card class="example-card">
  <mat-card-title><h3>Icones Material</h3></mat-card-title>
  <mat-card-actions style="padding: 15px !important">
    <button mat-icon-button color="primary">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button color="accent">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button color="warn">
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <mat-card-title><h3>Icones Customizados</h3></mat-card-title>
  <mat-card-actions style="padding: 5px !important">
    <button mat-icon-button color="primary">
      <mat-icon svgIcon="customIcon1"></mat-icon>
    </button>
    <button mat-icon-button color="primary">
      <mat-icon svgIcon="customIcon2"></mat-icon>
    </button>
    <button mat-icon-button color="warn">
      <mat-icon svgIcon="customIcon3"></mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
